{% extends 'bmp/base.html' %}

{% block content %}
    <div class="container mt-5 text-center">
        <h1>Last action</h1>
        <p class="lead">{{ image.text }}</p>
        <div class="mt-4">
            <img src="{{ image.image.url }}" alt="BMP Image"
                 class="img-fluid mx-auto d-block" style="width: 30%; height: 30%;">
        </div>
        {% if image.res_image %}
            <p class="lead">Result</p>
            <div class="mt-4">
                <img src="{{ image.res_image.url }}" alt="BMP Image"
                     class="img-fluid mx-auto d-block" style="width: 30%; height: 30%;">
            </div>
            <div class="mt-4">
                <a href="{{ bmp_image.res_image.url }}" download class="btn btn-success btn-lg mr-2">Download Image</a>
            </div>
        {% endif %}
    </div>
{% endblock %}